@media screen and (max-width: 560px) {
    .bookWrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 250px;
    }
    .card{
      width: 250px !important;
    }
}
.text{
    overflow: hidden;
    word-break: break-all;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}