.customSelect {
    margin-bottom: 1rem;
    max-width: 20rem;
}

button:focus {
    box-shadow: 0 0 0 3px rgba(52, 144, 220, 0.5);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

button.outline {
    background-image: none;
    background-color: #eee;
    border: 1px solid #aaa;
    color: #555;
}

button + button {
    margin-left: 0.5rem;
}