.customSelect {
    margin-bottom: 5rem;
}
.wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(186, 153, 153, 0.7);
}
.form{
    border: #555 solid 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: rgb(227, 222, 222);
}
.form input{
    border-radius: 2px;
}
.form textarea{
    border-radius: 2px;
}
.form label{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
}
.form button{
    cursor: pointer;
    background-color: rgba(105, 105, 105, 0.5);
    border: 2px dotted black;
    border-radius: 5px;
    color: whitesmoke;
    padding: 5px;
    text-align: center;
    margin: 5px;
}
.error{
    margin-top: 5px;
    color: red;
}